<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login/login.css">
    <title>Phonecenter-login</title>
</head>
<body>
    
    <div class="main">  	
      <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
          <form>
            <label for="chk" aria-hidden="true">ثبت نام</label>
            <input type="text" name="txt" placeholder="نام کاربری" required>
            <input type="email" name="email" placeholder="ایمیل" required>
            <input type="password" name="pswd" placeholder="رمز عبور" required>
            <button>ثبت نام</button>
          </form>
        </div>

        <div class="login">
          <form>
            <label for="chk" aria-hidden="true">ورود</label>
            <input type="email" name="email" placeholder="ایمیل" required="">
            <input type="password" name="pswd" placeholder="رمز عبور" required="">
            <button>ورود</button>
          </form>
        </div>
    </div> 

</body>
</html>